<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin</title>
</head>
<body>

<div class="container-fluid bg-dark text-white">
    <div class="row">
        <div class="p-2 flex-grow-1 bd-highlight" id="userInfo" >
<!--            // сюда вставляется userInfo.js заполняется верх страницы-->
        </div>
        <div >
            <a href="/logout" class="text-white">logout</a>
        </div>
    </div>
</div>

<div class="row vh-100">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
<!--            // кнопка вкдадки Admin-->
            <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"
               role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
<!--            // кнопка вкдадки User-->
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user"
               role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
        </div>
    </div>
    <div class="col-10 bg-light">
        <div class="tab-content" id="v-pills-tabContent">

            <!--            Заполнение вкдадки Admin-->
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                <h1>Admin panel</h1>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <!--            // кнопка вкдадки User table-->
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                        <!--            // кнопка вкдадки New User-->
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                        <!--            Заполнение вкдадки User table-->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="container-fluid border border-gray-500 bg-white">
                            <div class="row-fluid mt-3">
                                <div>
                                    <table class="table table-striped"  id ="tableUsers">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id ="userTable">

                                        </tbody>

                                        <!-- Modal Edit -->
                                        <div id ="modalEdit" class="modal fade">
                                            <div class="modal-dialog modal-dialog-centered modal-sm">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <h5 class="modal-title" >Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"></button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form class="form-signin mx-auto font-weight-bold text-center" id="formModalEdit" >
                                                                <!--                                                                        th:method="PUT" th:action="@{admin/update/(id=${user.getId()})}" th:object="${user1}"-->
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="idEdit">ID</label></strong>
                                                                    <input name="id" readonly type="number" id="idEdit" placeholder="ID" class="form-control">
                                                                </div>
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="userNameEdit">First name</label></strong>
                                                                    <input name="userName" type="text" id="userNameEdit" placeholder="First name" class="form-control">
                                                                </div>
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="lastNameEdit">Last name</label></strong>
                                                                    <input name="lastName" type="text" id="lastNameEdit" placeholder="Last name" class="form-control">
                                                                </div>
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="ageEdit">Age</label></strong>
                                                                    <input name="age" type="text" id="ageEdit" placeholder="Age" class="form-control">
                                                                </div>
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="emailEdit">Email</label></strong>
                                                                    <input name="email" type="text" id="emailEdit" placeholder="Email" class="form-control">
                                                                </div>

                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="passwordEdit">Password </label></strong>
                                                                    <input type="password" class="form-control" id="passwordEdit" name="password">
                                                                </div>

                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label>Role</label></strong>
                                                                    <select multiple class="form-control" id="rolesEdit"name="roles"> </select>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <!--                                                                        <input type="submit" value="Update User">-->
                                                                    <button type="submit" class="btn btn-primary" onclick="fEdit()">Edit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal Delet -->
                                        <div class="modal fade" id ="modalDelet" >
                                            <div class="modal-dialog modal-dialog-centered modal-sm">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <h5 class="modal-title" >Delet user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"></button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <div class="form-group row justify-content-center align-items-center">
                                                            <form id="qwert" class="form-signin mx-auto font-weight-bold text-center">
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="idDelete">ID</label></strong>
                                                                    <input name="id" readonly type="number"  id="idDelete" placeholder="ID" class="form-control">
                                                                </div>
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="userNameDelete">First name</label></strong>
                                                                    <input type="text"  id="userNameDelete" placeholder="First name" class="form-control">
                                                                </div>
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="lastNameDelete">Last name</label></strong>
                                                                    <input type="text"  id="lastNameDelete" placeholder="Last name" class="form-control">
                                                                </div>
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="ageDelete">Age</label></strong>
                                                                    <input type="text"  id="ageDelete" placeholder="Age" class="form-control">
                                                                </div>
                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label for="emailDelete">Email</label></strong>
                                                                    <input type="text"  id="emailDelete" placeholder="Email" class="form-control">
                                                                </div>

                                                                <div class="form-group h-25 w-100 p-3">
                                                                    <strong><label>Role</label></strong>
                                                                    <select multiple class="form-control" id="rolesDelete"
                                                                            name="roles">
                                                                    </select>
                                                                </div>

                                                                <div class="modal-footer ">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                    <button type="submit" class="btn btn-primary" onclick="fDelet()">Delet</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!--            Заполнение вкдадки New User-->
                    <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" >

                        <form id="formNewUser">
                            <div class="form-group">
                                <label for="userNameNewUser">User name</label>
                                <input type="text"  id="userNameNewUser" name="userNameNewUser" placeholder="User name">
                            </div>
                            <div class="form-group">
                                <label for="lastnameNewUser">Last name</label>
                                <input type="text"  id="lastNameNewUser" name="lastNameNewUser" placeholder="Last name">
                            </div>
                            <div class="form-group">
                                <label for="ageNewUser">Age</label>
                                <input type="text"  id="ageNewUser" name="ageNewUser" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <label for="emailNewUser">Email</label>
                                <input type="text" id="emailNewUser" name="emailNewUser" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="passwordNewUser">Password</label>
                                <input type="text" id="passwordNewUser" name="passwordNewUser" placeholder="Password">
                            </div>
                            <div class="form-group  text-center w-25">
                                <label>Role</label>
                                <select multiple class="form-control " id="rolesNewUser" name="roles">
                                    <option
                                            th:each="role : ${rol}"
                                            th:text="${role.getName()}"
                                            th:value="${role.getName()}">
                                    </option>
                                </select>

                            </div>
                            <div class="form-group">
                                <input type="submit" onclick="newUser()" value="Create User">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

                        <!--            Заполнение вкдадки User-->
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <div class="col-12 bg-light">
                    <h1>User information-page </h1>
                    <div  class="bg-light border border-gray-500 ">
                        <h4>About user</h4>
                    </div>

                    <div class="container-fluid border border-gray-500 bg-white">
                        <div class="row-fluid mt-3">
                            <div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody  id="tableOneUser">
<!--                                    // сюда вставляется users.js заполняется таблица одного User-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

               </div>

        </div>
    </div>
</div>


<script src="/userInfo.js"></script>
<script src="/users.js"></script>
<script src="/userTable.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>