<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin</title>
</head>
<body>

<div class="container-fluid bg-dark text-white">
    <div class="row">
        <div class="p-2 flex-grow-1 bd-highlight" >
            <b th:text="${user.getUsername()}">NAME</b>
            <c th:text="'with roles:'"></c>
            <c th:each="rol : ${user.getRoles()}"
               th:text="${rol.getName()}+' '">ROLE</c>
        </div>
        <div >
            <a href="/logout" class="text-white">logout</a>
        </div>
    </div>
</div>

<div class="row vh-100">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"
               role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user"
               role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
        </div>
    </div>
    <div class="col-10 bg-light">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                <h1>Admin panel</h1>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="container-fluid border border-gray-500 bg-white">
                            <div class="row-fluid mt-3">
                                <div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${listUsers}">
                                            <td th:text="${user.getId()}">ID</td>
                                            <td th:text="${user.getUsername()}">Name</td>
                                            <td th:text="${user.getLastName()}">Last Name</td>
                                            <td th:text="${user.getAge()}">Age</td>
                                            <td th:text="${user.getEmail()}">Email</td>
                                            <td><a th:each="rol : ${user.getRoles()}"
                                                th:text="${rol.getName()}+' '">Role</a></td>
                                            <td>

                                                <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="${'#e'+user.getId()}">
                                                    Edit
                                                </button>


                                            <!-- Modal Edit -->
                                            <div class="modal fade" th:id="${'e'+user.getId()}">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <h5 class="modal-title" >Edit user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div class="form-group row justify-content-center align-items-center">
                                                                <form th:method="PUT" th:action="@{admin/update/(id=${user.getId()})}" th:object="${user1}">
                                                                    <div class="form-group">
                                                                        <strong><label for="id">ID</label></strong>
                                                                        <input name="id" readonly type="number" th:value="${user.getId()}" id="id" placeholder="ID" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <strong><label for="userName">First name</label></strong>
                                                                        <input name="userName" type="text" th:value="${user.getUsername()}" id="userName" placeholder="First name" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <strong><label for="lastName">Last name</label></strong>
                                                                        <input name="lastName" type="text" th:value="${user.getLastName()}" id="lastName" placeholder="Last name" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <strong><label for="age">Age</label></strong>
                                                                        <input name="age" type="text" th:value="${user.getAge()}" id="age" placeholder="Age" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <strong><label for="email">Email</label></strong>
                                                                        <input name="email" type="text" th:value="${user.getEmail()}" id="email" placeholder="Email" class="form-control">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <strong><label for="password">Password </label></strong>

                                                                        <input type="password" class="form-control"
                                                                               th:value="null" id="password"
                                                                               name="password">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <strong><label for="editRoles">Role</label></strong>
                                                                        <select multiple class="form-control" id="editRoles"
                                                                                name="roles">
                                                                            <option
                                                                                    th:each="role : ${rol}"
                                                                                    th:text="${role.getName()}"
                                                                                    th:value="${role.getId()}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                                                                        <input type="submit" value="Update User">-->
                                                                         <button type="submit" class="btn btn-primary">Edit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>




                                            <td>

                                                <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="${'#delet'+user.getId()}">
                                                    Delet
                                                </button>


                                                <!-- Modal Delet -->
                                                <div class="modal fade" th:id="${'delet'+user.getId()}">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <h5 class="modal-title" >Delet user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"></button>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="form-group row justify-content-center align-items-center">
                                                                    <form th:method="DELETE" th:action="@{admin/delete/(id=${user.getId()})}">
                                                                        <div class="form-group">
                                                                            <strong><label for="id">ID</label></strong>
                                                                            <input name="id" readonly type="number" th:value="${user.getId()}" id="id" placeholder="ID" class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <strong><label for="userName">First name</label></strong>
                                                                            <input type="text" th:value="${user.getUsername()}" id="userName" placeholder="First name" class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <strong><label for="lastName">Last name</label></strong>
                                                                            <input type="text" th:value="${user.getLastName()}" id="lastName" placeholder="Last name" class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <strong><label for="age">Age</label></strong>
                                                                            <input type="text" th:value="${user.getAge()}" id="age" placeholder="Age" class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <strong><label for="email">Email</label></strong>
                                                                            <input type="text" th:value="${user.getEmail()}" id="email" placeholder="Email" class="form-control">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <strong><label for="editRoles">Role</label></strong>
                                                                            <select multiple class="form-control" id="editRoles"
                                                                                    name="roles">
                                                                                <option
                                                                                        th:each="role : ${rol}"
                                                                                        th:text="${role.getName()}"
                                                                                        th:value="${role.getId()}">
                                                                                </option>
                                                                            </select>
                                                                        </div>

                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                            <button type="submit" class="btn btn-primary">Delet</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade  text-center" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" >

                        <form action="#" th:action="@{admin/create}" th:object="${newUser}" method="post">
                            <div class="form-group">
                                <label for="userName">User name</label>
                                <input type="text"  id="userName" name="userName" placeholder="User name">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last name</label>
                                <input type="text"  id="lastName" name="lastName" placeholder="Last name">
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="text"  id="age" name="age" placeholder="Age">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" id="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group row justify-content-center align-items-center">
                                <label for="roles">Role</label>
                                <select multiple class="form-control" id="roles" name="roles">
                                    <option
                                            th:each="role : ${rol}"
                                            th:text="${role.getName()}"
                                            th:value="${role.getId()}">
                                    </option>
                                </select>

                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create User">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <div class="col-12 bg-light">
                    <h1>User information-page </h1>
                    <div  class="bg-light border border-gray-500 ">
                        <h4>About user</h4>
                    </div>

                    <div class="container-fluid border border-gray-500 bg-white">
                        <div class="row-fluid mt-3">
                            <div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${user}">
                                        <td th:text="${user.getId()}">ID</td>
                                        <td th:text="${user.getUsername()}">Name</td>
                                        <td th:text="${user.getLastName()}">Last Name</td>
                                        <td th:text="${user.getAge()}">Age</td>
                                        <td th:text="${user.getEmail()}">Email</td>
                                        <td> <a th:each="rol : ${user.getRoles()}"
                                               th:text="${rol.getName()}+' '">Role</a></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

               </div>

        </div>
    </div>
</div>





<p><a href="/admin/create">Create user</a></p>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>